/* Styles généraux */
body {
  background-color: #0e0e0e;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 64px;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0 0 10px #FFA500;
  margin-bottom: 50px;
}


#game-over-message {
  position: absolute;
  font-family: Arial, sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;
  color: #FFA500;
}
/* Styles pour le conteneur principal des cercles */
#cercles-container {
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  margin-top: 15px;
  position: relative;
  border: 10px solid #FFA500;
  background-color: #ffffff;
  overflow: hidden;
  box-sizing: border-box; 
  border-radius: 10px;
  /* Pour inclure la bordure dans les dimensions du conteneur */
}

/* Styles pour les cercles */
.cercle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  border: 1.5px solid #000000;
  position: absolute;
}

.cercle:hover {
  background-color: rgb(51, 255, 0);
  border: 1.5px solid #000000;
}

/* Styles pour le conteneur du score et du temps */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#score-container {
  background-color: #FFA500;
  color: rgb(0, 0, 0);
  font-size: 24px;
  padding: 10px;
  text-align: center;
  width: 200px;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  animation: score-blink 0.5s ease-out;
}

@keyframes score-blink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Styles pour le score */
#score {
  font-weight: bold;
  margin-left: 5px;
  font-family: Arial, sans-serif;
}

.hidden {
  display: none;
}

#game-over-message {
  color: red;
}


#logo-container2,
#logout-button {
  position: absolute;
  top: 10px;
  right: 10px;
}


#logo-container2 {
  display: flex;
  align-items: center;
}

#logo2 {
  height: 30px;
  margin: 5px;
}

#user-info {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

#logout-button {
  padding: 2px 5px;
  background-color: #f00;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-right: 5px;
}
