<<<<<<< Updated upstream
body {
  background-color: #0e0e0e;
  color: #fff;
  font-family: 'Helvetica Neue', sans-serif;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

form {
  margin: 0 auto;
  max-width: 400px;
  background-color: #2f2f2f;
  padding: 30px;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"] {
  width: 100%;
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #3c3c3c;
  color: #fff;
  margin-bottom: 20px;
}

button[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #ffae00;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #ffe066;
}

a {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

a:hover {
  color: #ffae00;
=======
body {
  background-color: #0e0e0e;
  color: #fff;
  font-family: 'Helvetica Neue', sans-serif;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

form {
  margin: 0 auto;
  max-width: 400px;
  background-color: #2f2f2f;
  padding: 30px;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"] {
  width: 100%;
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #3c3c3c;
  color: #fff;
  margin-bottom: 20px;
}

button[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #ffae00;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #ffe066;
}

a {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

a:hover {
  color: #ffae00;
>>>>>>> Stashed changes
}