body {
  background-color: #0e0e0e;
  color: #FFF;
  font-family: 'Helvetica Neue', sans-serif;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

form {
  margin: 0 auto;
  width: 400px;
  background-color: #2F2F2F;
  padding: 20px;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

input[type="text"], input[type="password"], input[type="email"] {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #3C3C3C;
  color: #FFF;
  margin-bottom: 20px;
}




button[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #FFAE00;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #FFE066;
}

a {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: #FFF;
  font-size: 18px;
  text-decoration: none;
}

a:hover {
  color: #FFAE00;
}